<% to_dos.each do |to_do| %>

 <div class ="card mb-1">
  <div class="card-body">
   <p class="card-text">期限：  <%=to_do.day %>  まで</p>
   <p class="card-text"><%=simple_format to_do.body %></p>
   <p class="card-text">
       <%= link_to "編集",edit_to_do_path(to_do.id),remote: true %>
　 </p>
   <p class="card-text"><%= link_to "削除",to_do_path(to_do.id), method: :delete, remote: true %></p>
  </div>
 </div>
<% end %>